.wraper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100vw;

}
.table {
    border-collapse: collapse;
    font-size: 1em;
    font-family: sans-serif;
    min-width: 400px;
    width:90vw; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.thead{
    background-color: #aac9e4;
    color: #ffffff;
}

.tbody{
    width:100%;
}

.word{
    padding: 12px 15px;
    text-align: center; 
    display:flex;
	justify-content: center;
	flex-direction:column;
	width: 25%; 
}

.tr {
    border-bottom: 1px solid #dddddd;
    display:flex;   
}

tbody tr.active-row {
    font-weight: bold;
    color: #6e7174;
}

caption{
    padding:2%;
    color: rgb(178, 184, 201);
}
.btns{
	display:flex;
    justify-content: center;
}
.pagination{
    display:flex;
    align-items:center;
    justify-content: center;
    display:flex;
    align-items:center;
    justify-content: center;
    min-width: 5em;
    min-height: 2rem;
    margin: 40px 0px 0px 0px ;   
    border: 1px solid /* #fff */ #b8bcbe;
    border-radius: 10px;
    min-height: 46px;
    min-width: 150px;
    line-height: 46px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #444;
    background-color: /* #fff */ #aac9e4 ;
    box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;  
    vertical-align: top;
    transition: box-shadow 0.2s;
    }
.pagination:focus-visible {
    border: 1px solid #4c51f9;
    outline: none;
}
.pagination:hover {
    transition: all 0.2s;
    box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
.pagination:active {
    background-color: #808080;
}