.row{
	display:flex;
	border: 1px solid rgb(246, 247, 248);
}
.word{
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction:column;
	width: 25%;	
}
.btnAction {
    display:flex; 
    align-items:center;
    justify-content: center;
    min-width: 5em;
    min-height: 2rem;
    margin: 10px;   
    border: 1px solid rgb(255, 255, 255);
	border-radius: 10px;
	height: 46px;
	line-height: 46px;
	font-size: 1em;
    font-family: sans-serif;
	text-decoration: none;
	color: rgb(92, 86, 86);
	background-color: #fff;
	box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
	vertical-align: top;
	transition: box-shadow 0.2s;
}
.btnAction:focus-visible {
	border: 1px solid #4c51f9;
	outline: none;
}
.btnAction:hover {
	transition: all 0.2s;
	box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
.btnAction:active {
	background-color: #808080;
}
.btnAction:disabled {
	background-color: #eee;
	border-color: #eee;
	color: #444;
	cursor: not-allowed;
}
.error_input{
    border: 1px solid crimson;
}
.textError{
	padding:5px;
    color:crimson;
    font-size: 0.8em;
}
.btns{
    display:flex;
    justify-content: center;
}